header {
    background-color: var(--main-accent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light-neutral);
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}
.headerbtn {
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: .1rem solid;
    border-radius: .5rem;
    border-color: var(--light-neutral);
    color: var(--light-neutral);
}
.headercol {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#loginmsg {
    margin-left: auto;
}
.headerbtn:link, .headerbtn:visited {
    margin-left: 1rem;
    text-decoration: none;
}
.headerbtn:hover {
    background-color: var(--dark-neutral);
}