html{
    --page-icon-height: 160px;
    --page-icon-width: 100px;
    --status-space-height: 80px;
}

.pageIcon {
    height: var(--page-icon-height);
    width: var(--page-icon-width);
    border: 2px solid var(--page-outline);
    border-radius: 5px;
    margin: 3px;
    padding: 2px;
    background-color: white;
}

.icon-title {
    display: flex;
    height: var(--page-icon-height);
    width: var(--page-icon-height);
    margin: 3px;
    padding: 8px;
}

.unfinPageIcon {
    background-image: linear-gradient(#0000, var(--page-outline));
}

.parentStatus, .childStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--status-space-height);
    width: var(--page-icon-width);
    /* background-color: blue; */
}

.pageStatus {
    height: 90%;
    width: fit-content;
    filter: drop-shadow(0px 0px 1px var(--dark-neutral));
}

.pStartIcon {
    color: var(--start-icon);
}

.pTBCIcon {
    color: var(--tbc-icon);
}

.pEndIcon {
    color: var(--end-icon);
}

.pLinkIcon {
    color: var(--parent-link-icon);
}
