.tabbar {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    /* border-bottom: solid .2rem var(--medium-neutral); */
    /* background-color: aqua; */
}

.tabbtn {
    color: var(--dark-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    width: fit-content;
}

.tabbtn input[type="radio"] + label {
    border: solid .2rem var(--dark-neutral);
    background-color: var(--light-neutral);
    padding: .5rem;
    border-radius: .5rem;
    color: var(--dark-neutral);
}

.tabbtn input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.tabbtn input[type="radio"]:checked + label {
    background-color: var(--dark-neutral);
    color: var(--light-neutral);
}