#writebtnsrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    /* background-color: blue; */
}

.writepbtn {
    min-height: 90px;
    width: fit-content;
    padding: 5px;
    margin: 0px 40px;
    /* background-color: var(--dark-neutral);
    border-radius: 10%; */
    /* filter: drop-shadow(3px 3px 1px var(--dark-neutral)); */
    filter: drop-shadow(0px 0px 1px var(--dark-neutral));
}

#continuebtn {
    color: var(--cont-icon);
}

#choicebtn {
    color: var(--choice-icon);
}

#tbcbtn {
    color: var(--tbc-icon);
}

#endingbtn {
    color: var(--end-icon);
}