/* colors from: https://coolors.co/f6efdf-b68f72-79975e-26130d-8041d0-df5378-fee375-8dcd75-00a5e0 */
html {
	--light-neutral: #F6EFDF;
    --medium-neutral: #B68F72;
    --dark-neutral: #26130D;
	--main-accent: #003D73;
    --second-accent: #79975E;
    --start-icon: #8DCD75;
    --end-icon: #8041D0;
    --tbc-icon: #DF5378;
	--child-link-icon: #FEE375;
	--parent-link-icon: #FEE375;
    --page-bg: #00A5E0;
	background-color: var(--light-neutral);
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
  	text-align: center;
  	background-color: var(--light-neutral);
}

.footer {
	background-color: var(--dark-neutral);
	color: var(--medium-neutral);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}