/* colors from: https://coolors.co/f6efdf-b68f72-79975e-26130d-8041d0-df5378-fee375-8dcd75-00a5e0 */
html {
	--light-neutral: #F6EFDF;
    --medium-neutral: #B68F72;
    --dark-neutral: #26130D;
	--main-accent: #003D73;
    --second-accent: #79975E;
    /* --start-icon: #8DCD75; */
	/* --start-icon: #A8DA95; */
	/* --start-icon: #59A63A; */
	--start-icon: #B4FF6F;
	/* --cont-icon: #A8DA95; */
	/* --cont-icon: #59A63A; */
	--cont-icon: #B4FF6F;
	/* --choice-icon: #A8DA95; */
	/* --choice-icon: #8DFFFB; */
	/* --choice-icon: #59A63A; */
	--choice-icon: #8DFFFB;
    /* --end-icon: #8041D0; */
	/* --end-icon: #A77CDE; */
	/* --end-icon: #7131C4; */
    /* --tbc-icon: #DF5378; */
	--end-icon: #A35CFF;
	/* --tbc-icon: #E67593; */
	/* --tbc-icon: #BE234C; */
	--tbc-icon: #FF4797;
	/* --child-link-icon: #FEE375;
	--parent-link-icon: #FEE375; */
	/* --child-link-icon: #F4C301;
	--parent-link-icon: #F4C301; */
	--child-link-icon: #FFF585;
	--parent-link-icon: #FFF585;
	/* --page-outline: #00A5E0;
    --page-bg: #00A5E055; */
	--page-outline: #0ABEFF;
    --page-bg: #0ABEFF;
	background-color: var(--medium-neutral);
	min-height: 100vh;
	color: var(--dark-neutral);
}
.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
  	text-align: center;
	min-height: 100vh;
	font-size: large;
	color: var(--dark-neutral);
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	/* background-color: #F4C301; */
}

.row-right {
	justify-content: end;
	/* background-color: #7131C4; */
}

.footer {
	background-color: var(--dark-neutral);
	color: var(--medium-neutral);
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

#introarrow {
	transform: scaleX(-1);
}

#introblurb {
	background-color: var(--light-neutral);
	padding: 3rem;
	padding-top: 2rem;
	padding-bottom: 0rem;
	color: var(--dark-neutral)
}

.mainpage {
	width: 100vw;
	margin: 2rem;
}

.innerpage {
	background-color: var(--light-neutral);
	/* background-color: #F4C301; */
	color: var(--dark-neutral);
	padding: 2rem;
}

.introbtn {
	display: flex;
	align-self: stretch;
	border: solid .2rem var(--main-accent);
	border-radius: 10%;
	margin: 4%;
	flex: 1 0 auto;
}

.introbtn:hover {
	background-color: var(--main-accent);
	color: var(--light-neutral);
}

.introicon {
	display: flex;
	flex-grow: 3;
	height: auto;
	color: var(--main-accent);
	padding: 10%;
}

.introicon:hover {
	color: var(--light-neutral);
}

.introbtn::after {
	content: '';
	display: block;
    padding-bottom: 100%;
}

#introchoose {
	align-self: center;
	white-space: pre-line;
	font-size: 5vw;
}

#container {
	display: flex;
	flex-grow: 3;
}

.pagecontent {
	margin: 1rem;
}

.pageparagraphs {
	text-align: left;
	text-indent: 2rem;
}

#pagedata {
	display: flex;
	flex-direction: column;
}

#story-btns-col {
	width: fit-content;
	margin-right: 1em;
	min-height: fit-content;
	/* background-color: #0ABEFF; */
}

/* #storysettings {
	background-color: greenyellow;
} */

#story-inputs-col {
	/* background-color: #7131C4; */
	flex-grow: 3;
	justify-content: stretch;
	align-items: stretch;
}

.story-btn {
	color: var(--light-neutral);
	background-color: var(--main-accent);
	/* width: fit-content; */
	padding: 1rem;
	margin: .5rem;
	border-radius: .3rem;
}

.read-title, .read-author {
	color: var(--main-accent);
	font-size: 2em;
}

.read-title {
	font-weight: 700;
}

/* .App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */